<!-- Here we can delete DOCTYPE and <head></head> to implemente bootstrap -->
<!-- We can use blocks for every section -->
{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
        <title>
            {%block title %} Flask Platzi {% endblock %}
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
{% endblock %}
{% block body %}
        {% block navbar %}
            {% include 'navbar.html' %}
        {% endblock %}
        {% with errors= get_flashed_messages(with_categories=true, category_filter=["error"]) %}
            {% if errors %} 
                {% for category,error in errors %}
                    <div class="alert alert-success alert-dismissible">   
                        <button type="button" data-dismiss="alert" class="close">
                            &times;
                        </button>
                        {{ category }}:{{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% with messages = get_flashed_messages(with_categories=true, category_filter=["success"]) %}
            {% if messages %} 
                {% for category ,message in messages %}
                    <div class="alert alert-success alert-dismissible">   
                        <button type="button" data-dismiss="alert" class="close">
                            &times;
                        </button>
                        {{ category }}:{{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
        {% block scripts %}
            {{ super() }}
        {% endblock %}
{% endblock %}
</html>