<!-- <nav>
    <ul>
        <img src="{{ url_for('static', filename='images/platzi.png')}}" alt="Platzi logo">
        <li><a href="{{ url_for('index') }}">Go home</a></li>
        <li><a href="https://platzi.com/home" target="_blank">Go Platzi</a></li>
    </ul>
</nav> -->

<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/platzi.png')}}" alt="Platzi logo">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="https://platzi.com/home" target="_blank">Platzi</a></li>
                <li><a href="{{ url_for('auth.signup') }}" target="_blank">Sign up</a></li>
                <li><a href="{{ url_for('auth.login') }}" target="_blank">Login</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('auth.logout') }}" target="_blank">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>